.nav {
    background: #282b33;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 1px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .nav ul li {
    padding: 5px 0;
    cursor: pointer;
  }
  .nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
    
  }
  .clear-btn{
    margin-left: 1050px;
  }
  .nav ul li.items:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
  }
  /* .nav ul li.items:hover:after {
    opacity: 1;
    bottom: 2px;
    margin-top: 55px;
  } */
  .nav ul li.logo {
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  .nav ul li a {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
    padding: 20px 0px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s;
  }
  .nav ul li:hover a {
    color: cyan;
  }
  .nav ul li i {
    font-size: 23px;
  }
  .nav ul li.btn {
    display: none;
  }
  .nav ul li.btn.hide i:before {
    content: "\f00d";
  }